.community {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 144px 96px 144px;
  text-align: center;
}

.community h1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}

.community p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-left: 144px;
  padding-right: 144px;
  gap: 250px;

}



.card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  transition: transform 0.2s;

}

.card h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
}

.card p {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  color: #717171;
}

@media (max-width:768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width:1024px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 400px;
  }
}