.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #f9fafb;
  padding-top: 32px;
  padding-bottom: 32px;
}

.demo h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #263238;
  text-align: center;
}

.btn-demo {
  background-color: #28a745;
  color: #fff;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  border: none;
  margin-top: 35px;
  transition: background-color 0.3s ease;
}

.btn-demo:hover {
  background-color: #218838;
}

@media (max-width: 1024px) {
  .demo h1 {
    font-size: 48px;
    line-height: 58px;
  }

  .btn-demo {
    padding: 12px 28px;
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .demo h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .btn-demo {
    padding: 10px 24px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .demo h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .btn-demo {
    padding: 8px 20px;
    font-size: 14px;
  }
}