footer {
  background-color: #1f2933;
  color: #fff;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-left h2 {
  font-size: 22px;
  margin: 0;
}

.footer-left p {
  margin: 10px 0;
  font-size: 14px;
  color: #cbd5e1;
}

.socials {
  margin-top: 20px;
}

.socials a {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}


.footer-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  min-width: 250px;
}

.footer-links h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #fff;
}


.footer-right {
  flex: 1;
  min-width: 250px;
}

.footer-right h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.subscribe {
  display: flex;
  align-items: center;
  background-color: #374151;
  border-radius: 6px;
  padding: 5px 10px;
  width: 100%;
  max-width: 300px;
}

.subscribe input {
  border: none;
  background: none;
  color: #fff;
  flex: 1;
  padding: 8px;
  outline: none;
}