.container-2 {
  background-color: #ffff;
}


.home-base {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 144px 30px 144px;
}

.home-base h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}

.home-base p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;

}

.service-list {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.service-list img {
  width: 80px;
}


@media (max-width: 1024px) {
  .home-base {
    padding: 30px 80px;
  }

  .home-base h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .home-base p {
    font-size: 15px;
  }

  .service-list {
    gap: 120px;
  }

  .service-list img {
    width: 70px;
  }
}


@media (max-width: 768px) {
  .home-base {
    padding: 25px 40px;
  }

  .home-base h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .home-base p {
    font-size: 14px;
    line-height: 22px;
  }

  .service-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }

  .service-list img {
    width: 60px;
  }
}


@media (max-width: 480px) {
  .home-base {
    padding: 20px 24px;
  }

  .home-base h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .home-base p {
    font-size: 13px;
    line-height: 20px;
  }

  .service-list {
    gap: 40px;
  }

  .service-list img {
    width: 50px;
  }
}