.container {
  display: flex;
  justify-content: space-between;
  padding: 64px 500px 64px 230px;
  margin: auto;
  background-color: #f5f7fa;
  align-items: flex-start;
  max-width: 100%;
  padding: 60px 80px;
  box-sizing: border-box;
}

.left-text h2 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin: 0 0 15px;
}

.left-text h2 span {
  color: #2e7d32;
}

.left-text p {
  font-size: 16px;
  color: #666;
  margin: 0;
  font-weight: 400;
}


.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
  margin-left: auto;
  text-align: right;

}

.stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10rem;

}

.stat-text {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.stat-label {
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

@media (max-width: 900px) {
  .stats {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
  }

  .left-text h2 {
    font-size: 42px;

  }

  .stat-text {
    align-items: center;
  }

  .stat-item {
    justify-content: center;
  }

  img {
    max-width: 80%;
    margin: 20px auto;
    display: block;
  }
}

@media (max-width:500px) {
  .left-text h2 {
    font-size: 32px;
  }

  .stat-item span {
    font-size: 16px;
  }
}